* {
	padding: 0px;
	margin: 0px;
}

.wapper {
	width: auto;
	height: auto;
}

.header {
	width: 100%;
	height: 300px;
}

.header img {
	width: 100%;
	height: 300px;
}

.content {
	width: 100%;
	height: auto;
	clear: both;
}

.content .left {
	width: 20%;
	border: 1px solid gray;
	float: left;
}

.content .left h3 {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: blueviolet;
	line-height: 50px;
}

.content .left ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.content .left ul li {
	width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.content .left ul li:hover {
	background-color: green;
}

.content .left ul li a {
	margin: 20px 0px 15px 70px;
	text-decoration: none;
}

.content .right {
	width: 79%;
	border: 1px solid gray;
	float: right;
}

.content .right h3 {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: blueviolet;
	line-height: 50px;
}

.content .right .sanpham {
	margin-top: 20px;
}

.content .right .sanpham ul {
	list-style: none;

}

.content .right .sanpham li {
	float: left;
	margin: 20px 0px 0px 55px;
}

.content .right .sanpham li a {
	text-decoration: none;
}

.content .right .sanpham li a p {
	text-align: center;
	margin: 0px 0px 0px -13px;
}

.footer {
	width: 100%;
	height: 80px;
    clear: both;
     border: 1px solid gray;
}

.footer h3 {
	text-align: center;
	line-height: 80px;
	color: darkgreen;
}
ul .p .phantrang{
	border: 1px solid;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 3px;
}
